<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center{
  margin-left: auto; 
  margin-right: auto;
}
div{
  text-align:center; 
}
</style>

<div id="<%= dom_id post %>">

<div>
  <p>User :<%= User.find(post.user_id).email %></p>

  <p>Title :<%= post.title %></p>
  <p>Body :<%= post.body %></p>
</div>

</div>
</html>
